body{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(9, 165, 170, 0.521);
}

:root{
    --font: arial, bold, sans-serif;
    --color: rgb(255, 215, 142);
}


a{
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-family: var(--font);
    text-decoration: none;
}

header{
    padding: 10px;
    width: 2000vw;
    border: solid black;
    background-color: var(--color);
    align-items: center;
}

#header{
    display: flex;
    width: 94vw;
}

nav{
    margin-top: 6vh;
    justify-content: end;
    display: flex;
    width: 65vw;
}

#produtos{
    background-color: rgb(226, 226, 226);
    border: solid 1px black ;
    display: flex;
    justify-content: center;
    padding-right: 25px;
    margin-left: 10px;
    border-radius: 5px;
}

h3{
    font-family: var(--font);
    margin-top: 6vh;
    font-size: x-large;
}

h4{
    font-family: var(--font);
    margin-top: 6vh;
    font-size: larger;
}

#text{
    background-color: var(--color);
    padding: 10px;
    border-radius: 10px;
}

main{
    justify-content: start;
    width: 100vw;
}

li{
    font-size: x-large;
    font-family: var(--font);
}

#logo{
    width: 100px;
    margin-right: 20px;
}

#trabalhos{
    background-color: var(--color);
    border-radius: 10px;
    padding: 10px;
}

#ProductImage{
    width: 100px
}

#loja{
    display: flex;
    justify-content: center;
    background-color: var(--color);
    height: 270px;
    align-items: center;
    width: 91vw;
}

#venda{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 198, 131);
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    transition: 300ms;
}
#name{
    margin-top: -5px;
}

#preco{
    margin-top: -20px;
}

h5{
    font-family: var(--font);
}

#venda:hover{
    width: 250px;
    height: 250px;
}

#image{
    width: 100px;
    height: 100px;
}
#tosa{
    height: 100px;
}

#tosas{
    height: 100px;
}

#servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    height: 270px;
    width: 91vw;
}

#lolja{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    margin-top: 5px;
    flex-wrap: wrap;
}

#img{
    width: 200px;
}

#imagens{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    flex-wrap: wrap;
}

label, input, legend{
    font-family: var(--font);
    color: white;
    font-size: x-large;
}

input{
    color: black;
}

fieldset{
    margin-top: 10px;
    border-radius: 10px;
}

#login{
    background-color: rgb(0, 255, 0);
    width: 6vw;
    height: 6vh;
    font-family: var(--font);
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: 110%;
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
    transition: 250ms;
}

#login:hover{
    background-color: rgb(0, 200, 0);
    color: white;
    border-color: black;
    font-size: 150%;
    width: 7vw;
    height: 7vh;
}

#send{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset{
    color: black;
    background-color: var(--color);
}

#banner{
    width: 98.8vw;
}

#produtos{
    background-color: rgb(90, 56, 0);
}